{% extends "lizard_ui/lizardbase.html" %}

{% block subtitle %}Block "subtitle"{% endblock subtitle%}
{% block sitetitle %}- Block "sitetitle"{% endblock sitetitle%}


{% block portal-tabs %}
<ul>
  <li class="selected">Block</li
  ><li class="last">"portal-tabs"</li>
</ul>
{% endblock %}


{% block portal-actions %}
<span class="ss_sprite ss_user">Block "portal-actions"</span>
{% endblock %}

{% block breadcrumbs %}
home &rarr; Block &rarr; "breadcrumbs"
{% endblock %}


{% block sidebar %}
<div>Block "sidebar"</div>
<ul>
  <li>This</li>
  <li>is the</li>
  <li>sidebar</li>
</ul>
<p>
  The sidebar is for showing overview info, details, perhaps a small
  "navigator" map to indicate the current location, etc.
</p>
{% endblock %}

{% block above-content %}
<ul>
  <li class="selected">Block</li
  ><li class="last">"above-content"</li>
</ul>
{% endblock %}


{% block object-actions %}
<span class="ss_sprite ss_page_edit">Block</span> | <span class="ss_sprite ss_printer">"object-actions"</span>
{% endblock %}


{% block content %}
<div id="textual">
  <h1>Block "content"</h1>
  <p>
    This is the content area, btw.  Here you can put for instance:
  </p>
  <ul>
    <li>
      The big main map.
    </li>
    <li>
      BTW, if you've got <b>textual content</b>, put the textual content (all
      of it) in a div with id "textual" to get a bit of margin left and right.
    </li>
    <li>
      An edit form for the current object.
    </li>
    <li>
      A bunch of graphs.
    </li>
  </ul>

  <h2>Other extendable blocks</h2>
  <dl>
    <dt>
      css
    </dt>
    <dd>
      Block to add css.  Be sure to use <code>{% templatetag openvariable %}
      block.super {% templatetag closevariable %}</code> at the start of your
      block to get all the previously defined css, too.
    </dd>

    <dt>
      javascript
    </dt>
    <dd>
      Block to add javascript.  Be sure to use
      <code>{% templatetag openvariable %} block.super
      {% templatetag closevariable %}</code> at
      the start of your block to get all the previously defined javascript,
      too.
    </dd>

    <dt>
      head-extras
    </dt>
    <dd>
      For injecting links, javascript or css from your template.  This is not
      compressed or otherwise managed.  For javascript and css, use the "css"
      and "javascript" blocks.
    </dd>

    <dt>
      map-javascript
    </dt>
    <dd>
      A block specifically for lizard-map's in-template javascript.
    </dd>

    <dt>
      logo
    </dt>
    <dd>
      Replaces the logo.
    </dd>

  </dl>

</div>

{% endblock %}

{% block copyright %}
Block "copyright"
{% endblock copyright %}
