[buildout]
index = http://packages.lizardsystem.nl
unzip = true
prefer-final = true
extends =
    http://packages.lizardsystem.nl/kgs/1.20/versions.cfg
versions = versions
extensions = buildout-versions
parts =
    django
    mkdir
    omelette
    console_scripts
    pyflakes
develop = .
#         local_checkouts/some_trunk_external
eggs =
    lizard-ui


[versions]
# Specific pins
lizard-ui =

# Reported by buildout-versions


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_ui
projectegg = lizard_ui
settings = testsettings
test = lizard_ui
eggs = lizard-ui


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    pep8
    zest.releaser
    createcoverage


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'
