[buildout]
index = http://packages.lizardsystem.nl
unzip = true
prefer-final = true
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
show-picked-versions = true
extensions = mr.developer
parts =
    django
    mkdir
    omelette
    console_scripts
    sphinx
develop = .
eggs =
    lizard-ui
    lizard-ui[test]


[versions]
# Specific pins
lizard-ui =
# We need a newer compressor than that's in the KGS.
django-compressor = 1.2
zc.buildout = 2.0.1

# Reported by buildout-versions
django-appconf = 0.5
Werkzeug = 0.8.3


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_ui
projectegg = lizard_ui
settings = testsettings
test = lizard_ui
eggs = ${buildout:eggs}


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
dependent-scripts = true
eggs =
    ${buildout:eggs}
# Development tools
    pep8
    pyflakes
    zest.releaser
    createcoverage
    translations


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
