[buildout]
index = http://packages.lizardsystem.nl
unzip = true
prefer-final = true
versions = versions
extensions = buildout-versions
parts =
    mkdir
    django
    omelette
    console_scripts
    pyflakes
develop = .
#         local_checkouts/some_trunk_external
eggs =
    lizard-ui


[versions]
# Specific pins
lizard-ui =
# Reported by buildout-versions
BeautifulSoup = 3.1.0.1
buildout-versions = 1.3
collective.recipe.omelette = 0.9
coverage = 3.4
createcoverage = 0.3
distribute = 0.6.14
django-compressor = 0.5.3
django-nose = 0.1.2
django-staticfiles = 0.3.1
eazysvn = 1.12.0
nose = 0.11.4
pep8 = 0.5.0
pyflakes = 0.4.0
south = 0.7.3
z3c.recipe.mkdir = 0.3.1
zest.releaser = 3.13


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
version = 1.2.1
project = lizard_ui
projectegg = lizard_ui
settings = testsettings
test = lizard_ui
eggs = lizard-ui


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    pep8
    zest.releaser
    createcoverage


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'
