{% extends "lizard_ui/lizardbase.html" %}

{% block title %}Block "title"{% endblock %}


{% block portal-tabs %}
<ul>
  <li class="selected">Block</li
  ><li class="last">"portal-tabs"</li>
</ul>
{% endblock %}


{% block portal-actions %}
<span class="ss_sprite ss_user">Block "portal-actions"</span>
{% endblock %}


{% block above-sidebar %}
Block "above-sidebar"
{% endblock %}

{% block sidebar %}
<div>Block "sidebar"</div>
<ul>
  <li>This</li>
  <li>is the</li>
  <li>sidebar</li>
</ul>
<p>
  The sidebar is for showing overview info, details, perhaps a small
  "navigator" map to indicate the current location, etc.
</p>
{% endblock %}

{% block above-content %}
<ul>
  <li class="selected">Block</li
  ><li class="last">"above-content"</li>
</ul>
{% endblock %}


{% block object-actions %}
<span class="ss_sprite ss_page_edit">Block</span> | <span class="ss_sprite ss_printer">"object-actions"</span>
{% endblock %}


{% block breadcrumbs %}
<div id="breadcrumbs">
  home &rarr; Block &rarr; "breadcrumbs"
</div>
{% endblock %}


{% block content %}
<div id="textual">
  <h1>Block "content"</h1>
  <p>
    This is the content area, btw.  Here you can put for instance:
  </p>
  <ul>
    <li>
      The big main map.
    </li>
    <li>
      BTW, if you've got <b>textual content</b>, put the textual content (all
      of it) in a div with id "textual" to get a bit of margin left and right.
    </li>
    <li>
      An edit form for the current object.
    </li>
    <li>
      A bunch of graphs.
    </li>
  </ul>

  <h2>Other extendable blocks</h2>
  <dl>
    <dt>
      base-head-extras
    </dt>
    <dd>
      Block for other base templates (read: lizard-map) to inject javascript.
      Don't use this in ordinary templates.
    </dd>

    <dt>
      head-extras
    </dt>
    <dd>
      For injecting javascript or css from your template.
    </dd>

    <dt>
      map-javascript
    </dt>
    <dd>
      Same as head-extras.  An extra block specificly for the common map
      javascript injection seems handy.  Placed all the way at the end in the
      head section.
    </dd>

    <dt>
      logo
    </dt>
    <dd>
      Replaces the logo.
    </dd>

    <dt>

    </dt>
    <dd>

    </dd>
  </dl>

</div>

{% endblock %}

{% block copyright %}
Block "copyright"
{% endblock copyright %}
