{% extends "lizard_ui/lizardbase.html" %}

{% block sidebar %}
  <h2>{{ view.application_screen.name }}</h2>
  <ul class="ui-icon-list">
    {% for icon in view.icons %}
    <li title="{{ icon.name }}"
        data-content="{{ icon.description }}"
        class="has_popover">
      <a {% if icon.url %}
           href="{{ icon.url }}"
         {% else %}
           class="notworking"
         {% endif %}>
        <img src="{{ icon.icon }}"
             alt="{{ icon.name }}" />
        <div>{{ icon.name }}</div>
      </a>
    </li>
    {% endfor %}
  </ul>
{% endblock sidebar %}
