<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{% block title %} Lizard {% endblock %}</title>
    <link rel="stylesheet"
          href="{{ STATIC_URL }}yui/reset-fonts-grids.css"
          type="text/css" />
    <link rel="stylesheet"
          href="{{ STATIC_URL }}yui/base-min.css"
          type="text/css" />
    <link rel="stylesheet"
          href="{{ STATIC_URL }}sprites/sprite.css"
          type="text/css" />
    <link rel="stylesheet"
          href="{{ STATIC_URL }}lizard_ui/lizard.css"
          type="text/css"
          media="screen, projection" />
  </head>
  <body>
    {% comment %}
    Everything is wrapped in a #doc3, which uses the full width of the page.

    Header, main body and footer are identified by #hd, #bd and #ft.

    We use the yui-t2 template which means a 180px sidebar on the left and
    "the rest" on the right for the #bd main body.

    {% endcomment %}
    <div id="doc3"
         class="yui-t2">

      <div id="hd">
        <div id="logo">
          {% block logo %}
          <a href="/"><img src="{{ STATIC_URL }}lizard_ui/logo.png" /></a>
          {% endblock %}
        </div>
        <div id="portal-actions">
          {% block portal-actions %}
          &nbsp;
          {% endblock %}
        </div>
        <div id="portal-tabs">
          {% block portal-tabs %}
          &nbsp;
          {% endblock %}
        </div>

        <div id="menubar">
          <div id="sidebar-title">
            {% block sidebar-title %}
            &nbsp;
            {% endblock %}
          </div>

          <div id="content-menubar">
            <div id="object-actions">
              {% block object-actions %}
              &nbsp;
              {% endblock %}
            </div>
            <div id="object-tabs">
              {% block object-tabs %}
              &nbsp;
              {% endblock %}
            </div>
          </div>
        </div>

      </div>

      <div id="bd">
        <div id="sidebar"
             class="yui-b">
          {% block sidebar %}
          {% endblock %}
        </div>
        <div id="yui-main">
          <div class="yui-b">

            <div id="content">
              {% block breadcrumbs %}
              <div>
              home > overzicht achterhoek > chloride parameters
              </div>
              {% endblock %}
              {% block content %}
              {% endblock %}
            </div>

          </div>
        </div>
      </div>

      <div id="ft">
        <div id="copyright">
          {% block copyright %}
          Copyright &copy; Nelen &amp; Schuurmans -
          <a href="http://www.nelen-schuurmans.nl">www.nelen-schuurmans.nl</a>
          {% endblock %}
        </div>
      </div>

    </div>
  </body>
</html>
