{% extends 'lizard_ui/lizardbase.html' %}
{% load i18n %}

{% block content %}
<div id="container">
<form id="login-form" class="well"
	  action="{% url lizard_ui.login %}" method="POST">
  {% csrf_token %}
  <div>
    <label>{% trans "Name" %}</label>
    <input type="text"
           name="username"/>
  </div>
  <div>
    <label>{% trans "Password" %}</label>
    <input type="password"
           name="password" />
  </div>
  <div>
    <input id="login-button"
           type="submit"
           value="{% trans "Login" %}" />
  </div>
  <input id="login-form-next"
         type="hidden"
         name="next_url"
         value="{{ view.next_url }}"/>
</form>
</div>
{% endblock %}

