{% load i18n %}
<div class="modal hide" id="login-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>{% trans 'Login' %}</h3>
    </div>
    <form id="modal-login-form" class="form-horizontal" name="modal-login-form" action="#" method="POST">
        <div class="modal-body">
            <div id="login-error" class="alert alert-error"></div>
            <fieldset>
                <div class="control-group">
                    <label class="control-label">{% trans "Name" %}</label>
                    <div class="controls">
                        <input type="text"
                               id="modal-login-form-username"
                               name="username"
                               {% if form.username.value %}
                               value="{{ form.username.value }}"
                               {% endif %}
                               />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Password" %}</label>
                    <div class="controls">
                        <input type="password"
                               name="password" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <input type="submit" id="modal-login-form-btn" class="btn btn-primary" value="{% trans 'Login' %}" />
        </div>
        <input type="hidden"
               name="login-url"
               value="{% url lizard_ui.login %}" />
    </form>
</div>
