{% load utility i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title>
      {% block title %}
        {% if view.title %}
          {# Managed properly by the view #}
          {{ view.title }}
        {% else %}
          {# By hand in the template #}
          {% block subtitle %}{% endblock subtitle%}
          {% block sitetitle %}{% endblock sitetitle%}
        {% endif %}
      {% endblock title %}
    </title>
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta charset="utf-8" />
    <link rel="icon" href="{{ STATIC_URL }}lizard_ui/favicon.ico" type="images/x-icon" />
    <link rel="SHORTCUT ICON" href="{{ STATIC_URL }}lizard_ui/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Rambla:400,700,400italic|Source+Sans+Pro:200,400,600|Droid+Sans|Anaheim|Titillium+Web:400,700,300,200|Sintony:400,700' rel='stylesheet' type='text/css'>

    {% block css %}
      {# jqueryui: "smoothness" theme #}
      <link type="text/css"
            href="{{ STATIC_URL }}jqueryui/smoothness/jquery-ui.css"
            rel="stylesheet" />
      {# OpenLayers: manually load the OpenLayers css so we can control the load order #}
      {# pass theme:null to the OpenLayers.Map instance to prevent OL from autoloading it #}
      <link rel="stylesheet"
            href="{{ STATIC_URL }}openlayers/theme/default/style.css"
            type="text/css" />
      {# daterangepicker #}
      <link rel="stylesheet"
            href="{{ STATIC_URL }}daterangepicker/daterangepicker.css"
            type="text/css" />
      {# Twitter bootstrap, but with an included #}
      {# lizard-bootstrap.less to overrides bootstrap defaults. #}
      {# Bootstrap must be below jqueryui to avoid overriding. #}
      <link rel="stylesheet"
            href="{{ STATIC_URL }}bootstrap/bootstrap/css/bootstrap.css"
            type="text/css" />
      {# Sprites: all icons (print, info, etc) in one cacheable image. #}
      <link rel="stylesheet"
            href="{{ STATIC_URL }}sprites/sprite.css"
            type="text/css"
            media="screen, projection" />
	  <link rel="stylesheet"
            href="{{ STATIC_URL }}lizard_ui/box-awesome.css"
            type="text/css"
            media="screen, projection" />

    {% endblock css %}

    <!--[if lt IE 9]>
      {% block ie-css %}
      {% endblock ie-css %}
    <![endif]-->

    {% block javascript-in-head %}
      {# Should probably remain unused. #}
    {% endblock javascript-in-head %}

    {% block head-extras %}
      {# Your own totally-unmanaged per-template extra css/javascript/links #}
    {% endblock head-extras %}
  </head>
  <body {% block inside-body-tag-itself %}{% endblock %}>
	{% block modal %}
	  {% include 'lizard_ui/modal_login.html' %}
	  {% include 'lizard_ui/change_language.html' %}
	{% endblock %}
	<div id="box-awesome">
	  <div id="box-awesome-search">
		<form>
		  <input type="text" class="search-query" placeholder="Zoeken naar...">
		</form>
	  </div>
	</div>

	<div id="box-awesome-search-button">
	  <span id="box-awesome-search-span" class="icon-search icon-large"></span>
	</div>

	<div id="box-awesome-actions">
      <ul class="nav">

        <li
           id="action-layers"
           >
          <a href="#"

             data-title=""
             data-content="Toon kaartlagen"

             class="dropdown-toggle"

             >

            <i class="icon-map-marker"></i>


          </a>
        </li>

        <li
           id="action-base-layers"
           >
          <a href="#"

             data-title=""
             data-content="Toon basislagen"

             class="dropdown-toggle"

             >

            <i class="icon-globe"></i>


          </a>
        </li>

	  </ul>
	</div>

	<div id="box-awesome-tabs">
		<span id="span-apps"
        style="color:white;"  
			  class="box-awesome-button-span"
			  onClick="unDisplay();display('apps')">Apps</span>
	  	<span id="span-workspaces"
        style="color:white;"    
			  class="box-awesome-button-span"
			  onClick="unDisplay();display('workspaces')">Workspaces</span>
		<span id="span-legenda"
        style="color:white;"  
			  class="box-awesome-button-span"
			  onClick="unDisplay();display('legend')">Legenda</span>
		<div id="box-awesome-apps"
			 class="box-awesome-inner">
            <div class="sidebar-inner">
			  <ul class="ui-icon-list">
				<li title="" data-content="metingen van HHNK en gemeenten" class="has_popover" data-original-title="Metingen">
				  <a href="/map/screen/measurements/">
					<img src="/static_media/lizard_ui/app_icons/meetgegevens.png" alt="Metingen">
					<div>Metingen</div>
				  </a>
				</li>

				<li title="" data-content="basis kaarten van HHNK" class="has_popover" data-original-title="Kaarten">
				  <a href="/shape/">
					<img src="/static_media/lizard_ui/app_icons/kaartlagen.png" alt="Kaarten">
					<div>Kaarten</div>
				  </a>
				</li>

				<li title="" data-content="link naar youtube met instructie film" class="has_popover" data-original-title="instructie film">
				  <a href="http://www.youtube.com/watch?v=bx551r6G6Tg&amp;feature=related">
					<img src="/static_media/lizard_ui/app_icons/play.png" alt="instructie film">
					<div>instructie film</div>
				  </a>
				</li>

				<li>
				  <a href="/webmap/category/hhnk_wfs/">
					<img src="/static_media/lizard_ui/app_icons/kaartlagen.png" alt="WFS kaarten">
					<div>WFS kaarten</div>
				  </a>
				</li>

			  </ul>
            </div>
        </div>
		<div id="box-awesome-workspaces"
			 class="box-awesome-inner" style="display:none">
          <div class="sidebar-inner">
			<div id="edit-workspace" class="sidebarbox workspace">
			  <h2>
				<span title="Dit is uw workspace. Ga met de muis over items voor extra opties.">
				  Kaartlagen
				</span>
			  </h2>

			  <ul class="workspace-items unstyled ui-sortable">


				<li>
				  Geen kaartlagen geselecteerd.
				</li>

			  </ul>
			  <hr noshade="" style="border-color: #7FA9AE; color: #7FA9AE; background-color: #7FA9AE;">
			  <div class="btn-group" style="display: block; width: 78px; margin-left: auto; margin-right: auto;">
				<button id="workspace-empty" href="/map/myworkspace/empty/" class="btn btn-danger sidebarbox-action-icon action-post-workspace-empty" title="Workspace leegmaken">
				  <i class="icon-trash icon-white"></i>
				</button>
				<button id="workspace-save" href="/map/myworkspace/save/" class="btn sidebarbox-action-icon popup-workspace-save" data-size="xs" title="Workspace opslaan" disabled="disabled">
				  <i class="icon-save"></i>
				</button>
			  </div>
			</div>
          </div>
		</div>
		<div id="box-awesome-legend"
		   class="box-awesome-inner" style="display:none">
          <div class="rightbar-inner">
			<h2>Legenda</h2>
          </div>
        </div>
    </div>
    <div id="page">
      {% block page %}
        {% block header %}
          <header>
            <div id="logo-row" class="navbar">
              <div id="logo">
                {% block logo %}
                  {% spaceless %}
                    <a href="/" title='{% trans "Back to homepage" %}'>
                      <img src="{{ STATIC_URL }}lizard_ui/logo.png" alt="Lizard" />
                    </a>
                  {% endspaceless %}
                {% endblock logo %}
              </div>

              <div id="site-actions">
                {% block site-actions %}

                  {% if view.site_actions %}
                    <ul class="nav">
                      {% for action in view.site_actions %}
                        <li {% if action.element_id %}
                               id="{{ action.element_id }}"
                            {% endif %}>
                          <a href="{{ action.url }}"
                             {% if action.description %}
                               data-title="{{ action.name }}"
                               data-content="{{ action.description }}"
                             {% endif %}
                             class="{{ action.klass }}"
                             {% for item in action.data_attributes.items %}
                               data-{{ item.0 }}="{{ item.1 }}"
                             {% endfor %}
                             >
                            {% if action.icon %}
                              <i class="{{ action.icon }}"></i>
                            {% endif %}
                            {{ action.name }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endblock site-actions %}
              </div>
            </div>
            {% comment breadcrumb %}
            <div id="breadcrumb-row"
                 class="navbar">
              <div id="breadcrumbs">
                {% block breadcrumbs %}

                  {% if view.breadcrumbs_with_fallback %}
                    <ul>
                      {% for action in view.breadcrumbs_with_fallback %}
                        <li {% if action.description %}
                              title="{{ action.name }}"
                              data-content="{{ action.description }}"
                              class="has_popover"
                            {% endif %}
                            {% if action.element_id %}
                               id="{{ action.element_id }}"
                            {% endif %}>
                          <a href="{{ action.url }}"
                            {% if action.klass %}
                              class="{{ action.klass }}"
                            {% endif %}
                             {% for item in action.data_attributes.items %}
                               data-{{ item.0 }}="{{ item.1 }}"
                             {% endfor %}
                             >
                            {% if action.icon %}
                              <i class="{{ action.icon }}"></i>
                            {% endif %}
                            {{ action.name }}
                          </a>
                          {% if not forloop.last %}
                            &rarr;
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                {% endblock breadcrumbs %}
              </div>
              <div id="content-actions">
                {% block content-actions %}

                  {% if view.content_actions %}
                    <ul class="nav pull-right">
                      {% for action in view.content_actions %}
                        <li
                           {% if action.description %}
                             title="{{ action.description }}"
                           {% endif %}
                           {% for item in action.data_attributes.items %}
                             data-{{ item.0 }}="{{ item.1 }}"
                           {% endfor %}
                           {% if action.element_id %}
                               id="{{ action.element_id }}"
                           {% endif %}
                           >
                          <a href="{{ action.url }}"
                             class="{{ action.klass }}">
                            {% if action.icon %}
                              <i class="{{ action.icon }}"></i>
                            {% endif %}
                            <span class="action-text">
                              {{ action.name }}
                            </span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                {% endblock content-actions %}
              </div>
            </div>
            {% endcomment %}
          </header>
        {% endblock header %}

        {% comment %}
        Note: keep the following inline style tags! These are controlled by JavaScript
        and not by the CSS, so they are inline by definition.
        {% endcomment %}

        {% block main-area %}
          {% comment %}
          <div id="sidebar"
               data-collapsed="{{ view.sidebar_is_collapsed|yesno:'true,false,false' }}"
               style="
               {% if view.sidebar_is_collapsed %}
               display: none;
               left: -300px;
               {% else %}
               left: 0px;
               {% endif %}
               "
          >
            <div class="sidebar-inner">
              {% block sidebar %}
              {% endblock sidebar %}
            </div>
          </div>
          {% endcomment %}

          {% comment %}
          <div id="secondary-sidebar"
               data-collapsed="{{ view.secondary_sidebar_is_collapsed|yesno:'true,false,true' }}"
               style="
               {% if view.secondary_sidebar_is_collapsed %}
               display: none;
               {% endif %}
               "
          >
            <div class="sidebar-inner">
              {% block secondary-sidebar %}
              {% endblock secondary-sidebar %}
            </div>
          </div>
          {% endcomment %}

          <div id="content">
            {% block content %}
            {% endblock content %}
          </div>




        {% endblock main-area %}

      {% endblock page %}
    </div>

    {# Ajax calls need a CSRF token cookie, and this line sends one as a side effect #}
    <!-- {{ csrf_token }} -->

    {% block javascript %}
    <script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-mobile-events/jquery.mobile-events.min.js"></script>

    {# Excanvas, for IE7 and IE8 support for HTML5 Canvas. #}
    <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}jquery-flot/excanvas.min.js"></script>
    <![endif]-->

    <script src="{{ STATIC_URL }}bootstrap/bootstrap/js/bootstrap.min.js"></script>
    <script id="openlayers-script"
            src="{{ STATIC_URL }}openlayers/OpenLayers.js"
            data-openlayers-url="{{ STATIC_URL }}openlayers/"
            charset="utf-8"></script>
    <script src="{{ STATIC_URL }}jquery-json/jquery.json-2.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/lang/nl.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-transform/jquery.transform-0.9.3.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-resize/jquery.ba-resize.min.js"></script>

    <script src="{{ STATIC_URL }}jqueryui/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}lizard_ui/csrf.js"></script>
    <script src="{{ STATIC_URL }}lizard_ui/lizard_ui.js"></script>
    <script src="{{ STATIC_URL }}jquery-treeview/jquery.treeview.js"></script>
    <script src="{{ STATIC_URL }}jquery-flot/jquery.flot.js"></script>
    <script src="{{ STATIC_URL }}jquery-flot/jquery.flot.selection.js"></script>
    <script src="{{ STATIC_URL }}jquery-flot/jquery.flot.resize.js"></script>
    <script src="{{ STATIC_URL }}jquery-flot/jquery.flot.navigate.js"></script>
    <script src="{{ STATIC_URL }}jquery-flot/jquery.flot.time.js"></script>
    <script src="{{ STATIC_URL }}jquery-flot/jquery.flot.touch.js"></script>
    <script src="{{ STATIC_URL }}jquery-flot/jquery.flot.fillbetween.js"></script>
    <script src="{{ STATIC_URL }}daterangepicker/daterangepicker.js"></script>
    <script src="{{ STATIC_URL }}lizard_elevationprofile/elevationprofile.js"></script>
    <script>
      $(document).ready(function() {
        $('input.search-query').focus();
      });
    </script>
    {% endblock javascript %}

    {% block map-javascript %}
      {# For lizard-map's wms handling #}
    {% endblock map-javascript %}

    {% if view.google_tracking_code %}
      <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ view.google_tracking_code }}']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      </script>
    {% endif %}

    {% if view.gauges_site_id %}
      <script type="text/javascript">
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '{{ view.gauges_site_id }}');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
      </script>
    {% endif %}

    {% block bottom-extras %}
      {# Your own totally-unmanaged per-template extra css/javascript/links #}
    {% endblock bottom-extras %}
	  <script type="text/javascript">
		function unDisplay() {
		  $('.box-awesome-inner').hide()
		};
		function display(tab, height) {
		  $('#box-awesome-' + tab).show();
		};

	  </script>

  </body>
</html>
