{% load utility i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      {% block subtitle %}
      {% endblock subtitle %}
      {% block sitetitle %}
      Lizard
      {% endblock sitetitle %}
      {% endblock title %}
    </title>
    {% load compress %}
    {% compress css %}
    {% block css %}
    {# Blueprint css framework. #}
    <link rel="stylesheet"
          href="{{ STATIC_URL }}blueprint/screen.css"
          type="text/css"
          media="screen, projection" />
    <link rel="stylesheet"
          href="{{ STATIC_URL }}blueprint/print.css"
          type="text/css"
          media="print" />
    {# Blueprint IE stylesheet is included separately later on #}
    {# Sprites: all icons (print, info, etc) in one cacheable image. #}
    <link rel="stylesheet"
          href="{{ STATIC_URL }}sprites/sprite.css"
          type="text/css"
          media="screen, projection" />
    {# CSS for jqueryui: "smoothness" theme #}
    <link type="text/css"
          href="{{ STATIC_URL }}jqueryui/smoothness/jquery-ui-1.8.11.custom.css"
          rel="stylesheet"
          media="screen, projection" />
    {# CSS for jquery-treeview #}
    <link type="text/css"
          href="{{ STATIC_URL }}jquery-treeview/jquery.treeview.css"
          rel="stylesheet"
          media="screen, projection" />
    {# Tipsy #}
    <link type="text/css"
          href="{{ STATIC_URL }}tipsy/stylesheets/tipsy.css"
          rel="stylesheet"
          media="screen, projection" />
    {# Our own css comes last #}
    <link rel="stylesheet"
          href="{{ STATIC_URL }}lizard_ui/lizard.css"
          type="text/css"
          media="screen, projection" />
    <link rel="stylesheet"
          href="{{ STATIC_URL }}lizard_ui/print.css"
          type="text/css"
          media="print" />
    <link rel="stylesheet"
          media="screen"
          type="text/css"
          href="{{ STATIC_URL }}colorpicker/css/colorpicker.css" />
    {# CSS Buttons #}
    <link type="text/css"
          href="{{ STATIC_URL }}lizard_ui/buttons.css"
          rel="stylesheet"
          media="screen, projection" />
    {# Styling from datatables #}
    <link type="text/css"
          href="{{ STATIC_URL }}datatables/media/css/demo_table.css"
          rel="stylesheet"
          media="screen, projection" />

    {% endblock css %}
    {% endcompress %}

    <!--[if IE]>
    {% compress css %}
    <link rel="stylesheet"
          href="{{ STATIC_URL }}blueprint/ie.css"
          type="text/css"
          media="screen, projection" />
    {% endcompress %}
    <![endif]-->

    {% compress js %}
    {% block javascript %}
    {# Jquery, jqueryui jquerytools and jstree #}
    <script type="text/javascript"
            src="{{ STATIC_URL }}jquery/jquery.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}jquerytools/jquery.tools.min.js"></script>
    {# TODO ^^^ use non-minified version #}
    <script type="text/javascript"
            src="{{ STATIC_URL }}jqueryui/jqueryui.min.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}tipsy/javascripts/jquery.tipsy.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}jqueryui/jquery.ui.datepicker-nl.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}jquery-treeview/jquery.treeview.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}lizard_ui/lizard.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}colorpicker/js/colorpicker.js"></script>

    {% endblock javascript %}
    {% endcompress %}

    {% block map-javascript %}
    {# For lizard-map's wms handling #}
    {% endblock map-javascript %}

    {% block head-extras %}
    {# Your own totally-unmanaged per-template extra css/javascript/links #}
    {% endblock head-extras %}

    <link rel="icon" href="{{ STATIC_URL }}lizard_ui/favicon.ico" type="images/x-icon" />
    <link rel="SHORTCUT ICON" href="{{ STATIC_URL }}lizard_ui/favicon.ico" />

  </head>
  <body>
    {% block page %}
    <div id="page"
         class="sidebar-open">
      <div class="container">
        {% block header %}
        <div id="header"
             class="clearfix">
          <div id="logo">
            {% block logo %}
            {# Watch out: keep the tags next to each other without spaces #}
            <a href="/" id="logo-img" title="{% trans "Back to homepage" %}"><img
            src="{{ STATIC_URL }}lizard_ui/logo.png"
            alt="Lizard" /></a>
            {% endblock logo %}
          </div>
          <div id="portal-actions">
            {% block portal-actions %}
            &nbsp;
            {% endblock portal-actions %}
          </div>
          <div id="portal-tabs">
            {% block portal-tabs %}
            &nbsp;
            {% endblock portal-tabs %}
          </div>
          <div id="breadcrumbs">{% block breadcrumbs %}»
	    <a href="/" rel="tipsy-south" title="{% trans "Back to homepage" %}">Home</a>
            {% endblock breadcrumbs %}</div>
        </div>
        {% endblock header %}
        {# End of header #}

        {% block main_area %}
        <div id="main_area"
             class="clear">
          <div id="sidebar">
            {% block sidebar %}
            {% if application_screen_slug %}
            {% application_icons application_screen_slug %}
            {% endif %}
            {% endblock sidebar %}
          </div>
          {# End of sidebar #}

          <div id="collapser"></div>

          <div id="main">
            <div id="menubar">
              <div id="object-actions">
                {% block object-actions %}
                &nbsp;
                {% endblock object-actions %}
              </div>
              <div id="above-content">
                {% block above-content %}
                {% endblock above-content %}
                &nbsp;
              </div>
            </div>
            {# End of menubar #}

            <div id="content">
              {% block content %}
              {% endblock content %}
            </div>
            {# End of content #}

          </div>
          {# End of main #}
        </div>
        {# End of main_area #}
        {% endblock main_area %}
      </div>
      {# End of container #}
    </div>
    {# End of page #}
    {% endblock page %}
  </body>
  {% if google_tracking_code %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ google_tracking_code }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  {% endif %}

{# Ajax calls need a CSRF token cookie, and this line sends one as a side effect #}
<!-- {{ csrf_token }} -->
</html>
