{% if user.is_authenticated %}
Ingelogd als {{ user }}.
<a id="logout-button" class="ss_sprite ss_user_red" data-url="{% url lizard_ui.logout %}">Log uit</a>
{% else %}
<a class="popup-trigger ss_sprite ss_user" rel="#login-form">Log in</a>
<div class="popup noprint" id="login-form">
  <h1>Login</h1>
  <div>
    <form data-url="{% url lizard_ui.login %}"
          method="post">
      {% csrf_token %}
      <div>
        <label>Naam</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label>Wachtwoord</label>
        <input type="password" name="password" />
      </div>
      <p><input id="login-button" type="button" value="Login" /></p>
    </form>
  </div>
</div>
<div class="popup noprint" id="wrong-login">
  <h1>Fout</h1>
  <div>
    Logingegevens zijn onjuist, probeer het nogmaals of contacteer de beheerder.
  </div>
  <form action="">
    <input type="submit" value="Ok" />
  </form>
</div>
{% endif %}
