{% if user.is_authenticated %}
Ingelogd als {{ user }}.
<a id="logout-button" class="ss_sprite ss_user_red" data-url="{% url lizard_ui.logout %}">Log uit</a>
{% else %}
<a class="popup-trigger ss_sprite ss_user"
   rel="#login-form"
   id="login-button">Log in</a>
<div class="popup noprint" id="login-form">
  <h1>Log in</h1>
  <div>
    <form data-url="{% url lizard_ui.login %}"
          method="post"
          id="popup-login-form">
      {% csrf_token %}
      <div>
        <label>Naam</label>
        <input type="text"
               name="username"
               tabindex="1"/>
      </div>
      <div>
        <label>Wachtwoord</label>
        <input type="password"
               name="password"
               tabindex="2" />
      </div>
      <div>
        <input id="login-form-next"
               type="hidden"
               name="next"
               value="{{ next }}"/>
      </div>
      <div>
        <input id="login-button"
               type="submit"
               tabindex="3"
               value="Log in" />
      </div>
    </form>
  </div>
</div>
<div class="popup noprint" id="wrong-login">
  <h1>Fout</h1>
  <div>
    Inloggegevens zijn onjuist, probeer het nogmaals of neem contact op met de
    beheerder.
  </div>
  <form action="/">
    <input type="submit" value="Ok" />
  </form>
</div>
{% endif %}
