{% load i18n %}
{% if user.is_authenticated %}
{% blocktrans with user as usr %}Logged in as {{ usr }}.{% endblocktrans %}
<a id="logout-button"
   class="ss_sprite ss_user_red"
   data-url="{% url lizard_ui.logout %}">{% trans "Logout" %}</a>
{% else %}
<a class="popup-trigger ss_sprite ss_user"
   rel="#login-form"
   id="login-button">{% trans "Login" %}</a>
<div class="popup noprint" id="login-form">
  <h1>{% trans "Login" %}</h1>
  <div>
    <form data-url="{% url lizard_ui.login %}"
          method="post"
          id="popup-login-form">
      {% csrf_token %}
      <div>
        <label>{% trans "Name" %}</label>
        <input type="text"
               name="username"
               tabindex="1"/>
      </div>
      <div>
        <label>{% trans "Password" %}</label>
        <input type="password"
               name="password"
               tabindex="2" />
      </div>
      <div>
        <input id="login-form-next"
               type="hidden"
               name="next"
               value="{{ view.next }}"/>
      </div>
      <div>
        <input id="login-button"
               type="submit"
               tabindex="3"
               value="{% trans "Login" %}" />
      </div>
    </form>
  </div>
</div>
<div class="popup noprint" id="wrong-login">
  <h1>{% trans "Error" %}</h1>
  <div>
    {% trans "Login data is incorrect. Try again or contact the system administrator." %}
  </div>
  <form action="/">
    <input type="submit" value="{% trans "Ok" %}" />
  </form>
</div>
{% endif %}
