{# the variables tree_template and tree_items must be defined before entering #}
{# tree_items is a list of dicts with properties name, url, children #}
{% for child in tree_items %}
<li>
  {% if child.children %}
    {% if child.url %}<a href="{{ child.url }}">{% endif %}
    <span class="folder">{{ child.name }}</span>
    {% if child.url %}</a>{% endif %}
    <ul>
      {% with child.children as tree_items %}
        {% include tree_template %}
      {% endwith %}
    </ul>
  {% else %}
    {% if child.url %}
      <a href="{{ child.url }}"
         class="file">
        {{ child.name }}
      </a>
    {% else %}
      <span class="quiet">{{ child.name }}</span>
    {% endif %}
  {% endif %}
</li>
{% endfor %}
