{# the variables tree_template and tree_items must be defined before entering #}
{# tree_items is a list of dicts with properties name, url, children #}
{% for child in tree_items %}
<li>
  {% if child.children %}
    {% if child.url %}<a href="{{ child.url }}">{% endif %}
    <span class="folder">{{ child.name }}
      {% if child.description %}{# show info button if description available #}
      <span class="ss_sprite ss_information sidebarbox-action-icon legend-tooltip">&nbsp;</span>
      <div class="tooltip">{% autoescape off %}{{ child.description }}{% endautoescape %}</div>
      {% endif %}
    </span>
    {% if child.url %}</a>{% endif %}
    <ul>
      {% with child.children as tree_items %}
        {% include tree_template %}
      {% endwith %}
    </ul>
  {% else %}
    {# No children: it's a leaf. #}
    {% if child.url %}
      <a href="{{ child.url }}"
         class="file">
        {{ child.name }}
      </a>
    {% else %}
      <span class="quiet">{{ child.name }}</span>
    {% endif %}
    {% if child.description %}{# show info button if description available #}
      <span class="ss_sprite ss_information sidebarbox-action-icon legend-tooltip">&nbsp;</span>
      <div class="tooltip">{% autoescape off %}{{ child.description }}{% endautoescape %}</div>
    {% endif %}
  {% endif %}
</li>
{% endfor %}
