#box-awesome {
	position: absolute;
	z-index: 2000;
	top: 100px;
	left: 11px;
}

#box-awesome-tabs {
	position: relative;
	top: -49px;
	width: 400px;
	height: 300px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px transparent;
	background: #FFF;
}

#box-awesome-content {
	height: 246px;
}
