#box-awesome {
	position: fixed;
	z-index: 2000;
	top: 50px;
	left: 11px;
}

#box-awesome-search {
	position: relative;
	width: 420px;
	height: 28px;

}

#box-awesome-search input {
	padding-left: 10px!important;
	font-size: 1em;
        font-family: 'Roboto', sans-serif !important;
	padding-right: 0;
	width: 100%;

	outline: 0;
	border: 0;
	border-radius: 0;

	box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
    -webkit-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    transition: all 200ms cubic-bezier(0.52,0,0.48,1);
}

#box-awesome-search button {
	position: relative;
	top: -35px;
	left: 420px;

	width: 72px;
	height: 27px;

	background-image: linear-gradient(to bottom, #177d89, #115e67);
    background-image: -webkit-linear-gradient(top, #177d89, #115e67);
    border: 0;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);

	color: white;
}


#box-awesome-tabs {
	position: relative;
	top: -5px;

	width: 420px;
	height: 376px;

	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px transparent;
	background: #FFF;
}

#box-awesome-content {
	height: 312px;
}

#box-awesome-results {
	position: relative;
	top: 15px;

	width: 420px;
	height: 150px;
	overflow-x: hidden;

	background-color: #FFF;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px transparent;
}

#box-awesome-results ul {
	list-style-type: none;
}

#box-awesome-results p {
	margin-top: 10px;
	margin-left: 20px;
}