/* We use blueprint css.  The base font size (1em) is 12px, the line height is
   18px (1.5em).
*/

/* Background on whole body instead of main div */
body {
background-image: url(background.png);
background-repeat: repeat-x;
margin: 0;
background-color: #f5f4f5;
overflow: hidden;
font-family: 'Helvetica', 'sans-serif';
}

/* #page wraps everything, only for adding a margin l/b/r */
#page {
margin: 0 0.5em 0.5em 0.5em;
}

/* Blueprint's containing-everything container class.
   We use the full width of the window instead of blueprint's
   900-something px width. */
.container {
width: 100%;
}

/* We give the header a fixed height to make sure the javascript height
   calculation has some definitive number to work with.  This assumes a logo
   of 48 pixels max in height (a bit less than 4em).  */
#header {
width: 100%;
height: 4em;
}

/* At the top, you need room for the logo that floats left.  The biggest one
   till now is 220px.  We give the portal-tabs an additional left margin to
   offset it against the logo.
   And floated right portal actions. */
#logo {
float: left;
width: 19em;
height: 4em;
overflow: hidden;
}
#logo-img {
/*padding-left: 6em;*/
}
#portal-actions {
text-align: right;
float: right;
padding-right: 1em;
}
#portal-tabs {
    text-align: center;
}
ul#portal-tabs li{
    padding: 5px 5px 5px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}
ul#portal-tabs li a{
    font-size: 1.2em;
    padding: 5px 15px 5px 15px;
}
#portal-tabs a {
text-decoration: none;
color: black;
}
ul#portal-tabs li.selected a {
text-decoration: none;
color: white;
}

/* TODO: similar to object-actions, perhaps combine them? */


/* Tooltips, i.e. extra info on the left bar. */
.tooltip {
display: none;
width: 25em;
padding: 1em;
z-index: 10000;
border: 1px solid black;
background-color: white;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 40px 5px black;
  -webkit-box-shadow: 0 0 40px black;
}

/* Horizontal alignment of sidebar, collapser and main content.
   Just like blueprint's columns, we float them all left.
   The main column gets a real width from our javascript code. */
#sidebar, #collapser, #main {
float: left;
}
.sidebar-open #sidebar {
width: 25em;  /* 300/12 */
}
.sidebar-closed #sidebar {
width: 0;
}
#collapser {
width: 1em;  /* Icon is 5 px wide */
}
#main {
width: 10em;  /* Just some figure, will be set via javascript. */
}

/* Layout of sidebar, collapser and main content. */
#sidebar {
  background-color: white;
  border: 1px solid #aaaaaa;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar-closed #sidebar {
border: 0;
}
#collapser {
background-position: center center;
background-repeat: no-repeat;
cursor: pointer;
}

/* positioning and styling the icons */
div#iconbox{
/*    background: url('/static_media/lizard_ui/white_carbon.png');*/
/*    background: url('/static_media/lizard_ui/leather_1.png');*/
/*    background: url('/static_media/lizard_ui/fabric_1.png');*/
/*    background: url('/static_media/lizard_ui/old_mathematics.png');*/
}
div#iconbox a{
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
}
div#iconbox a:hover{
    text-decoration: underline;
}
div#iconbox ul{
    position: relative;
    top: 15px;
    left: 10px;
}
/* Feedback that not only the little triangle is clickable, but the
   entire height of the collapser div. */
#collapser:hover {
background-color: #f8f8f8;
}

.sidebar-open #collapser {
background-image: url(arrow_collapse.png);
}

.sidebar-closed #collapser {
background-image: url(arrow_expand.png);
}

#sidebar .sidebarbox.iconlist ul,
#sidebar .sidebarbox.iconlist li,
#sidebar .sidebarbox.iconlist div,
#sidebar .sidebarbox.iconlist img {
margin: 0px;
padding-left: 0px;
}

#sidebar .sidebarbox.iconlist li {
float: left;
text-decoration: none;
}

#sidebar .sidebarbox.iconlist li {
list-style-type: none;
width: 80px;
height: 80px;
padding: 5px;
float: left;
text-align: center;
font-size: 0.85em;
}

.sidebarbox.workspace ul {
margin: 0px;
}


/* Inside #main you've got a #menubar, #content and #footer.  #menubar and
   #footer have a border on all sides, #content only left/right.  */
#menubar,
#footer {
border: 1px solid #aaaaaa;
}
#content {
border-width: 1px;
border-style: solid;
border-color: #aaaaaa;
}

/* The horizontal menubar needs a bit of padding top/bottom and a background.
   The desired height is 24px.  This is achieved with line-height.
   Overflow is hidden to keep the bar at a fixed height. */
#menubar {
background-color: #eeeeee;
background-image: url(bar_background.png);
background-repeat: repeat-x;
line-height: 2em;
overflow: hidden;
width: 100%;
}

/* #content is the div that houses the main map or content.
   Overflow is hidden so that scrollbars do not appear.
   Use an inner #textual div to get some margin and a scrollbar.  */
#content {
overflow: hidden;
background-color: white;
width: 100%;
}
/* Footer content centered and with non-obtrusive links. */
#footer {
text-align: center;
background-image: url(small_bar_background.png);
background-repeat: repeat-x;
color: #666;
width: 100%;
}
#footer a {
text-decoration: none;
color: #666;
}

/* Object actions (like "print") are floated right. */
#object-actions {
text-align: right;
float: right;
padding-right: 1em;
}
#object-actions a, #portal-actions a {
color: black;
text-decoration: underline;
}

#print-button {
cursor: pointer;
}

/* The object tabs and portal tabs are list items: show them nicely next to
   each other.  And inline so they don't take up extra space. */
#above-content ul,
#portal-tabs ul {
margin: 0;
padding-left: 0;
display: inline;
}
#above-content li,
#portal-tabs li {
display: inline;
/*padding-right: 0.5em;*/
/*padding-left: 0.5em;*/
}
#portal-tabs li {
border-color: #aaaaaa;
border-style: solid;
border-width: 0px 0px 1px 1px;
padding-top: 1px;
padding-bottom: 0.46em;
}
#portal-tabs li.last {
border-right-width: 1px;
}
#portal-tabs li.selected {
background-image: none;
background-color: #aaa;
}

/* The map has the full height/width. */
#map {
height: 100%;
width: 100%;
}

/* Breadcrums nest themselves next to the logo. */
#breadcrumbs {
float: left;
padding-left: 8em;  /* 25 sidebar - 17 logo */
padding-top: 0.5em;
color: #666;
font-size: 0.9em;
font-weight: lighter;
color: #000;
}
#breadcrumbs a{
    color: #000;
    text-decoration: underline;
}
/* Last child can be either a hyperlink or just text,
hence #breadcrumbs a:last-child is not used here */
#breadcrumbs:last-child{
    text-decoration: none;
}
#breadcrumbs a:hover{
    text-decoration: underline;
}
/* Give vertical items in #evenly-spaced-vertical a thick bottom border. */
#evenly-spaced-vertical .vertical-item {
border-bottom: 1px solid #eeeeee;
}
/* Prevent some weird padding/margin below pictures in firefox */
#evenly-spaced-vertical .vertical-item img {
vertical-align: bottom;
}

/* For giving regular body text some space to the left.
   And... a scrollbar when needed. */
#textual {
padding-left: 1em;
padding-right: 1em;
overflow: auto;
}

/* For the time being, float collapsible icon. */
.collapsible .ui-icon {
float: left;
}

/* Sidebar styling */
#sidebar .sidebarbox {
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.4) inset;
    box-shadow: 0 0 7px rgba(0,0,0,0.4) inset;

/*    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
    /* For IE 5.5 - 7 */
/*    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/

    padding-bottom: 1px;
  /* 1px bottom padding hack to prevent margin collapse which can wreak the
     layout when the bottommost item has a margin. */
}

#sidebar .sidebarbox h2{
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.4);
    box-shadow: 0 0 7px rgba(0,0,0,0.4);
}


/* Give non-header items a bit of left/right room in the sidebar. */
#sidebar .sidebarbox > div,
#sidebar .sidebarbox > img,
#sidebar .sidebarbox > p,
#sidebar .sidebarbox > table,
#sidebar .sidebarbox > ul,
#sidebar .sidebarbox > ol,
#sidebar .sidebarbox > dl {
margin-left: 0.5em;
margin-right: 0.5em;
  /* Note: no ie6, so the '>' works fine. */
}

/* ... but with an override for fews-unblobbed that should be moved there. */
#sidebar .sidebarbox > div#filter-parameter-accordeon {
margin-left: 0em;
margin-right: 0em;
}

#sidebar .sidebarbox#accordion h2 {
cursor: pointer;
}

/* Nice background for h2/h3 headers in the sidebar. */
#sidebar .sidebarbox h2,
#sidebar .sidebarbox h3 {
background-image: url(bar_background.png);
background-repeat: repeat-x;
line-height: 2em;
font-size: 1em;
font-weight: bold;
border-top: 1px solid #aaaaaa;
border-bottom: 1px solid #aaaaaa;
padding-left: 0.5em;
margin-bottom: 0;
}

#sidebar .sidebarbox h3 {
padding-left: 1em;
color: #444;
}

/* Topmost sidebarbox header should not have a border at the top. */
#sidebar div:first-child h2 {
border-top-width: 0;
}

#sidebar .selected {
background-color: #DFF3FD;
}

.sidebarbox-stretched {
overflow-y: auto;
overflow-x: hidden;
}

/* Currently: only the trash. */
.sidebarbox-actions {
background-color: #f9f9f9;
text-align: center;
}

/* Floating icons. */
.sidebarbox-action-icon {
float: right;
display: block;
cursor: pointer;
font-weight: normal;
  /* Right margin for a-href icons bug */
  margin-right: 2px;
margin-top: 4px;
}

/* Floating icons next to a h2/h3 header. */
h2 .sidebarbox-action-icon,
h3 .sidebarbox-action-icon {
margin-top: 3px;
}

.sidebarbox-action-progress {
float: right;
display: block;
font-weight: normal;
margin-top: 5px;
margin-right: 5px;
position: relative;
}

/* Feedback when hovering over droppable. */
.drophover {
background-color: yellow ! important;
}
.dropactive {
background-color: lightblue;
}

/* Empty space created when sorting: indicates current drop location. */
.ui-sortable-placeholder {
border: 1px dotted black;
height: 1.5em;
}
/* Element being dragged around */
.ui-sortable-helper {
border: 1px dotted black;
}

/* UL *without* bullets and margin.  Mostly useful in sidebar lists. */
ul.without-bullets {
padding-left: 0;
}

/* height: 2em is necessary for icons (legend, plus, etc) not to form
a 'stairway'*/
ul.without-bullets li {
list-style: none;
}

/* 16px big icons: start them right at the bottom instead of
     at the baseline. */
.workspace_item img {
vertical-align: bottom;
width: 16px;
height: 16px
}

.workspace {
min-height: 6em;
}

.workspace-acceptable {
cursor: pointer;
}

/* Snippet lists can be long. Limit is. Style below is not working correctly yet.
ul.snippet-list {
height: 100px;
overflow: auto;
}
*/

/* Filetree tweaks */
.filetree span.folder,
.filetree span.file {
padding-left: 20px;
}
.filetree a {
text-decoration: none;
color: #222222;
}

/* Title icons: icons next to title */
a.title {
text-decoration: none;
}

/* Nice "we're busy" animated gif: just add a div with class "loading". */
div.loading {
background-position: center center;
background-repeat: no-repeat;
background-image: url('ajax-loader.gif');
height: 4em;
width: 100%;
}

/* Change pointer so that it is clear that something isn't working yet. */
.notworking {
cursor: not-allowed;
}

/* For list items in summary screen */
/* No, no, no: no overly generic ul/ol overriding just for one screen!
   Use a more specific one (like "#summary ul").

ul, ol {
padding-left: 1em;
}

*/

/* Tables */
table.generic-table {
border-collapse: collapse;
}

table.generic-table,
table.generic-table th,
table.generic-table td {
border: 1px solid lightgrey;
}

table.generic-table thead th {
background-color: #f5f4f5;
}

table.generic-table .number {/* Number cells align right. */
  text-align: right;
}

table.generic-table .button {/* Cells with some clickable image align in the center. */
  text-align: center;
}

.button a.ss_sprite {/* No underline under the &nbsp; that we need in an empty
     .button for IE7 */
  text-decoration: none;
}

.popup-trigger {
cursor: pointer;
}

/* Generic overlays */
/* TODO: remove different variations on popups */

.date-popup .close,
.save-popup .close,
.popup .close,
#not_found_popup .close,
#graph-popup .close,
#dialog .close {
background-image: url(close.png);
position: absolute;
right: -15px;
top: -15px;
cursor: pointer;
height: 35px;
width: 35px;
}

.popup,
#not_found_popup {
display: none;
z-index: 10000;
width: 30em;
min-height: 8em;
padding: 1em;
border: 1px solid black;
background-color: white;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 40px 5px black;
-webkit-box-shadow: 0 0 40px black;
}


#login-form, #wrong-login {
text-align: left;
}

#login-form label {
width: 10em;
margin: 0.5em 0;
display: block;
float: left;
}

#login-form div {
clear: both;
}

/* logout link needs this */
#login-button, #logout-button {
cursor: pointer;
}

/* extra for colorpicker */
.colorpicker {
z-index: 10000;
}

/* Examples of action icons are found above maps of lizard-map */
.action-icon {
cursor: pointer;
float: left;
margin-top: 0.3em;
margin-left: 0.5em;
}

/* Negative margins compensate for icon size. */
.progress-animation {
position: relative;
top: 50%;
left: 50%;
margin-top: -16px;
margin-left: -16px;
}

.progress-animation-small {
position: relative;
top: 50%;
left: 50%;
margin-top: -20px;
margin-left: -20px;
width: 10px;
heigth: 10px;
}

.auto-inserted {
height: 100%;
}

/* Explicitly set img-use-my-size margins and paddings */

div.img-use-my-size {
padding: 0;
margin: 0;
}




span.map-location-icon{
    margin-top: 3px;
    height: 18px;
    width: 18px;
    background-image: url('/static_media/sprites/location-light.png');
}


.datepicker-icon{
    margin-top: 3px;
    height: 18px;
    width: 18px;
    background-image: url('/static_media/sprites/clock-light.png');
}

span.empty-temp-workspace-icon{
    margin-top: 3px;
    height: 18px;
    width: 13px;
    background-image: url('/static_media/sprites/trashbin-light.png');
}


ul.filetree, ul.without-bullets{
    margin: 5px 0px 0px 0px;
}

table.sortable-table {
    clear: both;
}
