/* root element for tabs  */
ul.css-tabs {
  margin:0 !important;
  padding:0;
  height: 27px;
  border-bottom:1px solid #666;
}

/* single tab */
ul.css-tabs li {
  float:left;
  padding:0;
  margin:0;
  list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
  float:left;
  font-size:1em;
  display:block;
  padding:5px 10px;
  text-decoration:none;
  border:1px solid #666;
  border-bottom:0px;
  height: 15px;
  background-color:#efefef;
  color:#777;
  margin-right:2px;
  position:relative;
  top:1px;
  outline:0;
  -moz-border-radius:4px 4px 0 0;
}

ul.css-tabs a:hover {
  background-color:#F7F7F7;
  color:#333;
}

/* selected tab */
ul.css-tabs a.current {
  background-color:#fff;
  border-bottom:1px solid #ddd;
  color:#000;
  cursor:default;
}


/* tab pane */
.pane-content {
  padding: 0.5em 0 0 0;
}



/* #adjustment-form */
/* { overflow: auto; */
/*   } */

