<html>
  <head>
    <title>Error 404</title>
  </head>
  <body>

    <center>
      <h1>
	Interne Server Error (404)
      </h1>

      <p>
      Excuses voor het ongemak. Neem contact op met de servicedesk van Nelen & Schuurmans om het probleem te melden. Leg exact uit wat U heeft gedaan, zodat de servicedesk het probleem kan reproduceren en verhelpen.
      </p>
      <ul>
	<li>telefoon: 030-2330250</li>
	<li>e-mail: <a href="mail:servicedesk@nelen-schuurmans.nl">servicedesk@nelen-schuurmans.nl</a></li>
      </ul>

    </center>
  </body>
</html>

