/* Override for yui: smaller than 1em margin between the sidebar and the main content.
   Compensate for this with margins in the content classes. */
.yui-t2 #yui-main .yui-b
{ margin-left: 14.1em;
  }

.yui-t3 #yui-main .yui-b
{ margin-left: 23.4em;
  }

/* Background on body instead of main div */
body
{ background-image: url(background.png);
  background-repeat: repeat-x;
  margin: 0;
  }

/* We give the header a fixed height to make sure the javascript height
   calculation has some definitive number to work with.  This assumes a logo
   of some 45-50 pixels max in height (4em).  */
#top
{ width: 100%;
  height: 4em;
  }

/* At the top, you need room for the logo that floats left.  The biggest one
   till now is 220px.  We give the portal-tabs an additional left margin to
   offset it against the logo.
   And floated right portal actions. */
#logo
{ float: left;
  padding-left: 1em;
  width: 17em;  /* 220/13 */
  }
#portal-actions
{ text-align: right;
  float: right;
  padding-right: 1em;
  }
#portal-tabs
{ text-align: center;
  }
#portal-tabs a
{ text-decoration: none;
  color: black;
  }
/* TODO: similar to object-actions, perhaps combine them? */


/* The horizontal bar needs a bit of padding top/bottom and a background.
   The desired height is 26px.  Line height is 16px, so that's 5px top
   and button. */
#menubar
{ padding-top: 0.38em;  /* 5/13 */
  padding-bottom: 0.38em;
  background-color: #eeeeee;
  background-image: url(bar_background.png);
  background-repeat: repeat-x;
  height: 1.23em;
  clear: both;
  }

/* The sidebar menubar part should have a fixed with of 180px left.
   Next to it, the object tags.
   The object actions should float right. */
#above-sidebar
{ float: left;
  padding-left: 1em;
  width: 23.0769em;
  font-weight: bold;
  }
#object-actions
{ text-align: right;
  float: right;
  padding-right: 1em;
  }

/* The object tabs and portal tabs are list items: show them nicely next to
   each other */
#above-content ul,
#portal-tabs ul
{ margin: 0;
  }
#above-content li,
#portal-tabs li
{ display: inline;
  border: solid;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-color: #888;
  background-repeat: repeat-x;
  }
#above-content li
{ background-image: url(menubar_button.png);
  border-width: 1px 0px 1px 1px;
  }
#portal-tabs li
{ background-image: url(portaltab_background.png);
  border-width: 0px 0px 1px 1px;
  padding-top: 1px;
  padding-bottom: 0.46em;
  }
#above-content li.last,
#portal-tabs li.last
{ border-right-width: 1px;
  }
#above-content li.selected,
#portal-tabs li.selected
{ background-image: none;
  background-color: #aaa;
  }

/* Footer content centered and with a bit of top/bottom padding */
#footer
{ text-align: center;
  padding-top: 0.38em;  /* 5/13 */
  padding-bottom: 0.38em;
  background-color: #eeeeee;
  background-image: url(bar_background.png);
  background-repeat: repeat-x;
  margin-right: 10px;
  margin-left: 10px;
  }
#footer a
{ text-decoration: none;
  color: black;
  }

/* The sidebar and body have some margins */

#bd
{ margin-top: 0.25em;
  margin-bottom: 0.25em;
  }

#sidebar
{ overflow: auto;
  }

#content
{ overflow: auto;
  }

#map
{ height: 100%;
  width: 100%;
  }

#breadcrumbs
{ padding-left: 1em;
  }

/* Give vertical items in #evenly-spaced-vertical a thick bottom border.
   And align the */
#evenly-spaced-vertical .vertical-item
{ border-bottom: 4px solid #eeeeee;
  }


/* For giving regular body text some space to the left. */
#textual
{ padding-left: 1em;
  }


/* For the time being, float collapsible icon. */
.collapsible .ui-icon
{ float: left;
  }


/* Sidebar styling */
#sidebar .sidebarbox
{ border: 2px solid #cdced2;
  margin-bottom: 0.5em;
  background-color: #f8f8f8;
  }

#sidebar .sidebarbox > div,
#sidebar .sidebarbox > img,
#sidebar .sidebarbox > p,
#sidebar .sidebarbox > ul,
#sidebar .sidebarbox > ol,
#sidebar .sidebarbox > dl
{ margin-left: 4px;
  /* Note: no ie6, so the '>' works fine. */
  }

#sidebar .sidebarbox h2,
#sidebar .sidebarbox h3,
#sidebar .sidebarbox h4
{ background-color: #eeeeee;
  background-image: url(sidebarbox_background.png);
  background-repeat: repeat-x;
  margin-top: 0;
  font-size: 100%;
  padding-top: 0.38em;  /* 5/13 */
  padding-bottom: 0.38em;
  padding-left: 0.5em;
  height: 1.23em;
  }

#sidebar .sidebarheader
{ background-color: #eeeeee;
  background-image: url(menuheader_background.png);
  background-repeat: repeat-x;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
  padding-top: 0.38em;  /* 5/13 */
  padding-left: 0.5em;
  padding-bottom: 0.38em;
  height: 1.23em;
  }

.sidebarbox-stretched
{ overflow: auto;
  }
