/* We use blueprint css.  The base font size (1em) is 12px, the line height is
   18px (1.5em).

*/

/* Background on body instead of main div */
body
{ background-image: url(background.png);
  background-repeat: repeat-x;
  margin: 0;
  background-color: #f5f4f5;
  overflow: hidden;
  }

#page
{ margin: 0 0.5em 0.5em 0.5em;
  }

.container
{ width: 100%;
  }

/* We give the header a fixed height to make sure the javascript height
   calculation has some definitive number to work with.  This assumes a logo
   of 48 pixels max in height (4em).  */
#header
{ width: 100%;
  height: 4em;
  }

/* At the top, you need room for the logo that floats left.  The biggest one
   till now is 220px.  We give the portal-tabs an additional left margin to
   offset it against the logo.
   And floated right portal actions. */
#logo
{ float: left;
  padding-left: 1em;
  width: 19em;
  height: 4em;
  overflow: hidden;
  }
#portal-actions
{ text-align: right;
  float: right;
  padding-right: 1em;
  }
#portal-tabs
{ text-align: center;
  }
#portal-tabs a
{ text-decoration: none;
  color: black;
  }
/* TODO: similar to object-actions, perhaps combine them? */


/* Horizontal alignment of sidebar, collapser and main content */
#sidebar, #collapser, #main
{ float: left;
  }
#sidebar
{ overflow: auto;
  background-color: white;
  border: 1px solid #aaaaaa;
  }
.sidebar-open #sidebar
{ width: 25em;  /* 300/12 */
  }
.sidebar-closed #sidebar
{ width: 0;
  border: 0;
  }
#collapser
{ width: 1em;  /* Icon is 5 px wide */
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  }
.sidebar-open #collapser
{ background-image: url(arrow_collapse.png);
  }
.sidebar-closed #collapser
{ background-image: url(arrow_expand.png);
  }
#collapser:hover
{ /* Feedback that not only the little triangle is clickable. */
   background-color: #f8f8f8;
  }
#main
{ width: 10em;  /* Just some figure, will be set via javascript. */
  }

#content
{ overflow: hidden;
  background-color: white;
  width: 100%;
  border-width: 0 1px;
  border-style: solid;
  border-color: #aaaaaa;
  }

/* The horizontal bar needs a bit of padding top/bottom and a background.
   The desired height is 24px.  This is achieved with line-height.  */
#menubar
{ background-color: #eeeeee;
  background-image: url(bar_background.png);
  background-repeat: repeat-x;
  line-height: 2em;
  width: 100%;
  border: 1px solid #aaaaaa;
  }


#object-actions
{ text-align: right;
  float: right;
  padding-right: 1em;
  }
#object-actions a
{ text-decoration: none;
  }

/* The object tabs and portal tabs are list items: show them nicely next to
   each other */
#above-content ul,
#portal-tabs ul
{ margin: 0;
  padding-left: 0;
  }
#above-content li,
#portal-tabs li
{ display: inline;
  padding-right: 0.5em;
  padding-left: 0.5em;
  }
#portal-tabs li
{ border-color: #aaaaaa;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  padding-top: 1px;
  padding-bottom: 0.46em;
  }
#portal-tabs li.last
{ border-right-width: 1px;
  }
#portal-tabs li.selected
{ background-image: none;
  background-color: #aaa;
  }

/* Footer content centered */
#footer
{ text-align: center;
  background-image: url(small_bar_background.png);
  background-repeat: repeat-x;
  color: #666;
  border: 1px solid #aaaaaa;
  width: 100%;
  }
#footer a
{ text-decoration: none;
  color: #666;
  }

/* The sidebar and body have some margins */

#bd
{ margin-top: 0.25em;
  margin-bottom: 0.25em;
  }

#map
{ height: 100%;
  width: 100%;
  }

#breadcrumbs
{ float: left;
  padding-left: 8em;  /* 25 sidebar - 17 logo */
  padding-top: 0.5em;
  color: #666;
  }

/* Give vertical items in #evenly-spaced-vertical a thick bottom border.
   And align the */
#evenly-spaced-vertical .vertical-item
{ border-bottom: 1px solid #eeeeee;
  }
/* Prevent some weird padding/margin below pictures in firefox */
#evenly-spaced-vertical .vertical-item img
{ vertical-align: bottom;
  }


/* For giving regular body text some space to the left.
   And... a scrollbar when needed. */
#textual
{ padding-left: 1em;
  overflow: auto;
  }


/* For the time being, float collapsible icon. */
.collapsible .ui-icon
{ float: left;
  }


/* Sidebar styling */
#sidebar .sidebarbox
{ padding-bottom: 1px;
  /* 1px bottom padding to prevent margin collapse which can wreak the layout
     when the bottommost item has a margin. */
  }

#sidebar .sidebarbox > div,
#sidebar .sidebarbox > img,
#sidebar .sidebarbox > p,
#sidebar .sidebarbox > table,
#sidebar .sidebarbox > ul,
#sidebar .sidebarbox > ol,
#sidebar .sidebarbox > dl
{ margin-left: 0.5em;
  margin-right: 0.5em;
  /* Note: no ie6, so the '>' works fine. */
  }

#sidebar .sidebarbox > div#filter-parameter-accordeon
{ margin-left: 0em;
  margin-right: 0em;
  }

#sidebar .sidebarbox h2,
#sidebar .sidebarbox h3
{ background-image: url(bar_background.png);
  background-repeat: repeat-x;
  line-height: 2em;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  padding-left: 0.5em;
  margin-bottom: 0;
  }

#sidebar .sidebarbox h3
{ padding-left: 1em;
  color: #444;
  }

#sidebar div:first-child h2
{ /* Topmost header should not have a border at the top */
  border-top-width: 0;
  }

#sidebar .sidebarheader
{ /* BBB */
  display: none;
  }

#sidebar .selected
{ background-color: lightyellow;
  }

.sidebarbox-stretched
{ overflow: auto;
  }

.sidebarbox-actions
{ background-color: #f9f9f9;
  text-align: center;
  }

.sidebarbox-action-icon
{ float: right;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 2px;
  /* Right margin for a-href icons bug */
  }

.drophover
{ /* For hovering over droppable */
  background-color: #ffffcc;
}

.ui-sortable-placeholder
{ /* Empty space created when sorting: indicates current drop location. */
  border: 1px dotted black;
  height: 1.5em;
  }
.ui-sortable-helper
{ /* Element being dragged around */
  border: 1px dotted black;
 }

/* UL *without* bullets and margin. */
ul.without-bullets
{ padding-left: 0;
  }
ul.without-bullets li
{ list-style: none;
  }

.workspace_item img
{ /* 16px big icons: start them right at the bottom instead of
     at the baseline. */
  vertical-align: bottom;
  width: 16px;
  height: 16px
  }

.workspace
{ min-height: 6em;
  }

/* Filetree tweaks */
.filetree span.folder,
.filetree span.file
{ padding-left: 20px;
  }
.filetree a
{ text-decoration: none;
  color: #222222;
  }

/* Title icons: icons next to title */
a.title
{ text-decoration: none;
  }

div.loading
{ background-position: center center;
  background-repeat: no-repeat;
  background-image: url('ajax-loader.gif');
  height: 4em;
  width: 100%;
  }

.notworking
{ /* Change pointer so that it is clear that something isn't working yet. */
  cursor: not-allowed;
  }
